 <!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Guest's block</title>
	<link href="../static/guest_menu_css/guest.css" type="text/css" rel="stylesheet"/>
	<script src="../static/popper/popper.min.js"></script>
	<script src="../static/bootstrap-5.3.3-dist/js/bootstrap.bundle.js"></script>

</head>

<body><div>
	<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MedFinder</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="http://localhost:8000/">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8000/show_medicals_to_all/">Medicals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8000/login/">SignIn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>

      </ul>

      <form method="post" action="http://localhost:8000" class="d-flex">
        {% csrf_token %}
        <input name="T1"  class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
	</div>
<div class="row">
  <div class="col-12" style="width:100%;min-height:500px;">
    {% block m1 %}
    {% endblock %}
  </div>
</div>
	<div class=" bg-primary" style="width:100%;height: 100px;  "></div>
</body>
</html>
