{% extends 'B1.html' %}
{% load static %}
{% block m1 %}
<H1>Edit Medical</H1>
{% if record %}
{% for d in record %}
<form method="post" action="../edit_medical1/">
{% csrf_token %}
 <p>Store name<input readonly value="{{d.store_name}}" type="text" name="T1" id="txt1"/></p>
    <p>Owner<input value="{{d.owner}}" type="text" name="T2" id="txt2"/></p>
    <p>L.No.<input value="{{d.lno}}" type="text" name="T3" id="txt3"/></p>
    <p>Address<input value="{{d.address}}" type="text" name="T4" id="txt4"/></p>
    <p>Contact<input value="{{d.contact}}" type="text" name="T5" id="txt5"/></p>
    <p>Email<input value="{{d.email}}" type="text" name="T6" id="txt6"/></p>
<p><button type="submit">Save Changes</button> </p>
</form>
{% endfor %}
{% endif %}
<h3>
    <a href="../show_medicals/">Back</a>
</h3>
{% endblock %}